.about {
  opacity: 0;
  transform: translateY(1%);
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1100px) {
  .about {
    width: 100%;
    display: flex;
    color: white;
  }

  .about img {
    margin: 1%;
    width: 50%;
    z-index: -1;
    position: relative;
    top: 20vh;
    height: 120vh;
  }

  .about .title {
    width: 40%;
  }

  .about .text {
    position: relative;
    margin-top: 25vh;
    width: 40%;
    margin-left: 5%;
    font-weight: 300;
    line-height: 3.6vh;
  }

  .footer {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    margin-top: 4%;
    color: white;
    height: 8rem;
    flex-direction: column;
  }

  .footer .instagram:hover {
    cursor: pointer;
  }
}

@media (max-width: 1101px) {
  .about img {
    width: 100%;
    height: 100vh;
  }

  .about {
    color: white;
    margin: 4%;
  }
}
